<div class="mat-elevation-z3" fxLayout="row" fxHide.sm fxHide.xs fxLayoutAlign="center bottom">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="eventName" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="Category" formControlName="category">
        <mat-option>All</mat-option>
        <mat-option value="ENTERTAINMENT">Entertainment</mat-option>
        <mat-option value="SPORT">Sport</mat-option>
        <mat-option value="CULTURAL">Cultural</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select placeholder="Venue" formControlName="venueName">
        <mat-option value="venue 1">Venue 1</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="startDate"
        [matDatepicker]="pickerAfter"
        placeholder="Events starting after">
      <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
      <mat-datepicker #pickerAfter></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="endDate" [matDatepicker]="pickerBefore" placeholder="Events starting before">
      <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
      <mat-datepicker #pickerBefore></mat-datepicker>
    </mat-form-field>

    <button mat-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
  </form>

</div>
