<div fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="outer-card-container mat-card-flat">
    <mat-card-header>
      <mat-card-title style="font-weight: lighter">Order details</mat-card-title>
    </mat-card-header>

    <!--    fxLayout="row wrap" fxLayoutAlign="center center"-->
    <div style="max-height: 100vh; overflow: auto; height: 750px;">
      <app-ticket-item *ngFor="let ticket of tickets" [ticket]="ticket"></app-ticket-item>
    </div>

    <mat-card-actions>
      <span fxFlex></span>
      <p style="padding-right: 15px;">Total: <b>{{getTotalPrice() | currency}}</b></p>
      <div [hidden]="paidFor" #paypal style="padding-top: 10px; padding-right: 8px;"></div>
    </mat-card-actions>
  </mat-card>
</div>
