<mat-card class="example-card mat-card-flat">

        <form [formGroup]="eventSectorForm">
          <div fxLayout="row">
      
            <div>
              <div fxLayout="row" fxLayoutAlign="center center" style="width: 500px;">
                <mat-form-field color="primary" appearance="outline" fxFlex="80">
                  <mat-select formControlName="eventDate" placeholder="Pick a day">
                    <mat-option *ngFor="let datum of dates; let i = index" [value]="datum">
                      Day {{i + 1}} - {{datum | date}}</mat-option>
                  </mat-select>
                </mat-form-field>
      
                <mat-checkbox fxFlex="20" class="example-margin" formControlName="allDaysSelected">All days</mat-checkbox>
              </div>
      
              <div style="padding-left: 5px;">
                <mat-card-subtitle>{{value | date: 'MMM d, y, HH:mm'}}</mat-card-subtitle>
                <mat-card-subtitle>Tickets: 1</mat-card-subtitle>
                <mat-card-subtitle>Price: 3000</mat-card-subtitle>
              </div>
            </div>
      
            <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%; margin-left:5px;">
              <button mat-stroked-button color="primary" type="button" >Reserve</button>
              <button mat-stroked-button color="primary" type="button" (click)="onBuy()">Buy</button>
            </div>
      
          </div>
      
          <mat-form-field color="primary" appearance="outline" class="sector-select">
            <mat-select placeholder="Pick a sector" formControlName="selectedSector" (selectionChange)="onSectorChange()">
              <mat-option *ngFor="let sector of venue.sectors" [value]="sector">{{sector.name}}</mat-option>
            </mat-select>
          </mat-form-field>
      
        </form>
      
        <div class="table-container">
          <table>
            <tr *ngFor="let seatRow of seatRows; let i = index;">
              <td *ngFor="let seat of seatsMap[i+1]" [ngClass]="seat.status.toLowerCase()" (click)="onSeatSelected($event, seat)"></td>
            </tr>
          </table>
        </div>
      
      </mat-card>
      