<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="isLoading">
            <p>Loading ...</p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input 
                                matInput
                                placeholder="Username" 
                                formControlName="username"
                            >
                            <!-- <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                                Please enter a valid username!
                            </span> -->
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input 
                                matInput
                                placeholder="Password" 
                                formControlName="password"
                            >
                            <!-- <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                                Please enter a valid password!
                            </span> -->
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="error">
                    <td>
                        <p>{{error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button type="submit" color="primary">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>

