mat-card {
  //border: solid 1px #B39DDB;
  background-color: whitesmoke;
  border-radius: 8px;
  height: 300px;
}

mat-card img {
  height: 165px;
}

mat-card:hover {
  cursor: default;
  background-color: rgba(255,255,255,0.45);
  box-shadow: 2px 10px 30px -9px;
}



