<div fxLayout="row" fxLayoutAlign="center center" class="main">
  <mat-card fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="mat-card-flat card-deck-container">
      <mat-card-header>
        <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="isLoading">
            <p>Loading ...</p>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="First name"
                                formControlName="firstName"
                            >
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Last name"
                                formControlName="lastName"
                            >
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Username"
                                formControlName="username"
                            >
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Password"
                                formControlName="password"
                                type="password"
                            >
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input
                                matInput
                                placeholder="Email address"
                                formControlName="email"
                            >
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="error">
                    <td>
                        <p>{{error}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button mat-raised-button type="submit" color="primary">Sign up</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
  </mat-card>
</div>
