<form [formGroup]="addSectorForm" #formDirective="ngForm"  (ngSubmit)="onSubmit(formDirective); addSectorForm.reset()">
  <mat-form-field appearance="outline">
    <mat-label>Sector name</mat-label>
    <input matInput type="text" formControlName="sectorName">
    <mat-error *ngIf="sectorName.invalid && sectorName.touched">
      Sector name can't be empty!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Max capacity</mat-label>
    <input matInput type="number" formControlName="maxCapacity">
    <mat-error *ngIf="maxCapacity.invalid && maxCapacity.touched">
      Max capacity must be a positive number!
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="addSectorForm.invalid">
    <mat-icon>add</mat-icon>
    <span>Add sector</span>
  </button>
</form>

<div class="gridster-container">
    <gridster [options]="options" style="background-color: whitesmoke">
        <gridster-item [item]="item" *ngFor="let item of items" style="background-color: lavender; border-radius: 3px;" class="mat-elevation-z3 tooltip">

            <span class="tooltiptext">
              Name: {{ item.name }}<br>
              Columns: {{item.cols}}<br>
              Rows: {{item.rows}}
            </span>

            <div class="button-holder">
                <button mat-mini-fab (click)="onRemoveItem(item)" color="primary">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </gridster-item>
    </gridster>
</div>

