.card-deck-container {
  width: 100%;
  max-width: 1100px;
  position: relative;
  background-color: whitesmoke;
  margin-top: 7px;
  height: 100%;
}

.card-item {
  padding: 3px 3px 3px 3px;
  margin-bottom: 3px;
}

mat-card-title {
  font-weight: normal;
}

mat-paginator {
  color: rebeccapurple;
}

