<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
  <div *ngIf="totalSize !== 0 && events.length === 0; else eventsLoaded" style="margin-top: 150px;" >
    <mat-spinner color="accent" strokeWidth="4"></mat-spinner>
  </div>

  <ng-template #eventsLoaded>
    <mat-card class="mat-card-flat card-deck-container" id="loaded-events-list">
      <mat-card-header>
        <p style="font-weight: bolder;">Future events</p>
        <span fxFlex></span>
        <p style="margin-right: 70px; font-weight: lighter" id="number-of-results">Results found: {{totalSize}}</p>
      </mat-card-header>

      <div fxLayout="row wrap" class="card-deck-container" fxLayout.xs="column wrap">
        <div fxFlex="24" fxFlex.sm="30" fxFlex.xs="80" class="card-item" *ngFor="let eventItem of events">
          <app-event-item (eventCancelled)="loadData()" [eventModel]="eventItem"></app-event-item>
        </div>
      </div>
    </mat-card>

    <div class="paginator mat-elevation-z5">
      <mat-paginator [length]="totalSize"
                     pageSize="8"
                     pageIndex="0"
                     (page)="onPageChanged($event)">
      </mat-paginator>
    </div>
  </ng-template>

</div>


