<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-button color="accent">
    <mat-icon>event_seat</mat-icon>
    <span class="mat-title" style="font-weight: 200;">Ticketist</span>
  </button>
  <span class="spacer"></span>
  <div>
    <button mat-button routerLink="/logout" *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</button>
    <button mat-button routerLink="/signup" *ngIf="!isAuthenticated">Sign up</button>
  </div>
</mat-toolbar>
