<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Ticketlist</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
      <button mat-button routerLink="/profile" *ngIf="isAuthenticated">Profile</button>
        <button mat-button routerLink="/logout" *ngIf="isAuthenticated" (click)="onLogout()">Logout</button>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</button>
        <button mat-button routerLink="/signup" *ngIf="!isAuthenticated">Sign up</button>
    </mat-toolbar-row>
</mat-toolbar>
