.main {
  margin: 20px;
}

.mat-form-field {
  display: block;
}

.basicInfoPanel {
  padding: 15px;
}

.imagePanel {
  background-color: lightskyblue;
  padding: 15px;
}

.venueSectorPanel {
  background-color: lightsalmon;
  padding: 15px;
}

.submitButton {
  width: 100%;
}
