.form-container {
  width: 100%;
  max-width: 600px;
  min-width: 400px;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.sector-container {
  margin-top: 20px;
  margin-right: 10px;
}

.example-form {
  min-width: 200px;
  max-width: 500px;
  width: 400%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 10px;
}

.example-card{
  width: 100%;
}

.main {
  margin-top: 10px;
}

// -----------------

.table-container {
  height: 320px;
  overflow: auto;
}

table {
  width: 100%;
}

.gridster-container {
  height: 730px;
  margin-top: 5px;
  border: 1px solid grey;
}

.sector-container mat-form-field {
  font-size: 13px;
  margin-right: 10px;
}

.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  // border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(255, 255, 255, .4);
  color: black;
  font-weight: lighter;
  text-align: left;
  padding: 5px 2px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

h2 {
  font-weight: lighter;
}



