<div fxLayoutAlign="center center" fxLayout="column">
  <mat-card class="mat-card-flat card-deck-container" >
    <mat-card-header>
      <mat-card-title>Venues</mat-card-title>
    </mat-card-header>

    <div fxLayout="row wrap" class="card-deck-container" fxLayout.xs="column wrap">
      <table  id="table">
        <tr>
          <th>Name</th>
          <th>Street</th>
          <th>Sector size</th>
          <th>Details</th>
          <th>Status</th>
        </tr>
        <tr app-venue-item *ngFor="let venue of venues" [venue]="venue"></tr>
    </table>
    </div>
  </mat-card>

  <mat-card>
    <button mat-raised-button color="primary" [routerLink]="['/venues/new']">
      Add new event
    </button>
  </mat-card>

  <div class="paginator mat-elevation-z5">
    <mat-paginator [length]="totalSize" pageSize="2" pageIndex="0" (page)="onPageChanged($event)"></mat-paginator>
  </div>

</div>
