<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Temporary file</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <button>Confirm order</button>
    <p>Payer id: <span id="PayerID"></span></p>
    <p>Payment id: <span id="paymentId"></span></p>

    <script>
        var url_string = window.location.href;
        var url = new URL(url_string);
        var paymentId = url.searchParams.get("paymentId");
        var PayerID = url.searchParams.get("PayerID");

        document.getElementById("PayerID").innerText = PayerID;
        document.getElementById("paymentId").innerText = paymentId;

    </script>
</body>
</html>