<html>
    <body>
        <table bgcolor="#f2f2f2" width="100%" style="margin:0px" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td align="center" style="padding:5px 5px">
                    <div style="max-width:690px">
                        <table bgcolor="#ffffff" border="1" align="center" style="border-collapse:collapse;border-color:#e6e6e6;border-style:solid;margin:0px;min-width:200px;width:100%;max-width:690px" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table bgcolor="#ffffff" width="100%" style="min-width:290px;table-layout:fixed;margin:0px" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0px 20px">
                                                <table width="100%" style="table-layout:fixed;margin:0px" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" style="padding:25px 0px;border-bottom:1px solid #c0c0c0">
                                                            <img src="https://i.ibb.co/M98k28h/2.png" width="330" height="135" border="0"></img>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;padding:33px 20px 26px">
                                                <font style="font-family:Helvetica Neue,Arial,sans-serif;font-size:15px;line-height:22px;font-weight:normal;color:#333333">
                                                    Hi <b data-th-text="${recipient}"></b>,
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;padding:0px 20px 20px">
                                                <font style="font-family:Helvetica Neue,Arial,sans-serif;font-size:15px;line-height:22px;font-weight:normal;color:#666666">
                                                    You've successfully signed up for Ticketist. We just need to verify the email address associated with your account before you can start using all the awesome features. To verify your email address, click the following link:
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="padding:20px 20px 37px">
                                                <table style="margin:0px" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <a style="white-space:nowrap;display:block;padding:10px 25px;background:#fb4b4f;color:#ffffff;font-family:Helvetica Neue,Arial,sans-serif;font-size:15px;line-height:15px;font-weight:bold;text-decoration:none;border-collapse:collapse;border-color:#82a313;border-style:1px solid;border-radius:3px"
                                                               th:href="@{'http://localhost:8080/api/users/'+${code}}" target="_blank">
                                                                Confirm my email
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </body>
</html>


